<%-include('../partials/header.ejs')%>
<!DOCTYPE html>
<html lang = "" en>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .bold{
            font-weight: bold;
        }
        .F1 {
            font-family: "Times New Roman", Times, serif;
        }
        .font16 {
            font-size: 16px;
        }
        .font30{
            font-size: 30px;
        }
        .padding-bt {
            padding-bottom: 1.5%;
        }
        .padding-ls {
            padding-inline-start: 4.0%;
        }
        .padding-le {
            padding-inline-end: 4.0%;
        }
        .padding-t {
            padding-top: 1.5%;
        }
    </style>

    <body>
        <div class="text-center F1 font30 padding-bt padding-t bold">MVC Test of Computer Science KMITL</div>
        <div class="container-fluid padding-bt ">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-2 col-lg-3 col-xl-3 col-xxl-3"></div>
                <div class="col-12 col-sm-12 col-md-8 col-lg-6 col-xl-6 col-xxl-6">
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-warning" type="submit">Search</button>
                </form>
                </div>
            </div>
        </div>

        <div class = "container-fluid F1 font16 padding-bt">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-2 col-lg-3 col-xl-3 col-xxl-3"></div>
                <div class="col-12 col-sm-12 col-md-8 col-lg-6 col-xl-6 col-xxl-6">
                <table class="table table-bordered">
                    <thead >
                    <tr class="bg-warning" >
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                    </tr>
                    </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td colspan="2">Larry the Bird</td>
                        <td>@twitter</td>
                    </tr>
                </tbody>
            </table>
        </div>
        </div>
        </div>
        </div>
    </body>
    <div>
        <div class="text-center ">
            <button class="btn btn-success" type="submit">submit</button>
            <button class="btn btn-danger" type="cancel">cancel</button>
        </div>
    </div>
